@font-face {
  font-family: barlow;
  src: url(../fonts/Barlow-Regular.ttf);
}
@font-face {
  font-family: fraunces;
  src: url(../fonts/Fraunces\ 9pt\ S000\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: barlow;
}
.navigation__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.navigation__menu-list__link {
  color: #83888F;
  transition: 0.2s;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.92px;
}
.navigation__menu-list__link:hover {
  color: #333D4B;
}

.hero {
  background-image: url(../../../images/about-images/about__hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 137px 85px;
  color: #fff;
  margin-bottom: 168px;
}
.hero__title {
  font-family: fraunces;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 24px;
}
.hero__subtitle {
  font-family: barlow;
  font-size: 16px;
  color: #FEFCF7;
  line-height: 26px;
  font-weight: 400;
  max-width: 445px;
}

.commit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 85px;
  margin-bottom: 256px;
}
.commit__img {
  border-radius: 8px;
}
.commit__texts {
  max-width: 540px;
}
.commit__texts-title {
  font-family: fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}
.commit__texts-description {
  font-size: 16px;
  font-family: barlow;
  line-height: 26px;
  color: #333D4B;
  font-weight: 400;
}

.quality {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 85px;
  background-color: #2C343E;
  border-radius: 10px;
  margin-bottom: 168px;
}
.quality__img {
  border-radius: 8px;
  position: relative;
  top: -88px;
}
.quality__texts {
  max-width: 540px;
}
.quality__texts-title {
  font-family: fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 32px;
}
.quality__texts-description {
  font-size: 16px;
  font-family: barlow;
  line-height: 26px;
  color: #FEFCF7;
  font-weight: 400;
  opacity: 80%;
}

.location {
  width: 100%;
  padding: 0 85px;
  margin-bottom: 168px;
}
.location__head {
  margin-bottom: 72px;
}
.location__head-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  color: #83888F;
  font-family: fraunces;
}
.location__bottom {
  display: flex;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
.location__bottom-card {
  width: 285px;
}
.location__bottom-card__img {
  margin-bottom: 45px;
}
.location__bottom-card__title {
  font-family: fraunces;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
}
.location__bottom-card__gps {
  width: 500px;
  font-family: barlow;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.location__bottom-card__gps a {
  color: #333D4B;
}

.ssss {
  max-width: 130px;
  font-family: barlow;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.ssss a span {
  display: block;
  color: #333D4B;
}

.footer {
  padding: 47px 85px;
  display: flex;
  justify-content: space-between;
  background-color: #2C343E;
  align-items: center;
}
.footer__menu {
  display: flex;
  text-transform: uppercase;
  -moz-column-gap: 33px;
       column-gap: 33px;
  position: relative;
  left: -100px;
}
.footer__menu li a {
  color: #83888F;
  font-size: 12px;
  font-weight: 700;
  font-family: barlow;
  letter-spacing: 0.92px;
  line-height: 15px;
  transition: 0.2s;
}
.footer__menu li a:hover {
  color: #FEFCF7;
}
.footer__icons {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.footer__icons a img:hover {
  filter: sepia(100%) hue-rotate(357deg) contrast(228%);
  -webkit-filter: sepia(100%) hue-rotate(357deg) contrast(228%);
  -moz-filter: sepia(100%) hue-rotate(357deg) contrast(228%);
  background-color: red;
}/*# sourceMappingURL=about.css.map */