.commit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 85px;
    margin-bottom: 256px;

    &__img {
        border-radius: 8px;
    }
    &__texts {
        max-width: 540px;

        &-title {
            font-family: fraunces;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #333D4B;
            margin-bottom: 32px;
        }
        &-description {
            font-size: 16px;
            font-family: barlow;
            line-height: 26px;
            color: #333D4B;
            font-weight: 400;
        }
    }
}